<mat-tab-group>
  <mat-tab label="General">
      <general-form-component></general-form-component>
  </mat-tab>

  <mat-tab label="Education">
    <education-form-component></education-form-component>
  </mat-tab>

  <mat-tab label="Experience">
    <experience-form-component></experience-form-component>
  </mat-tab>

  <mat-tab label="Miscelaneous">
    <misc-form-component></misc-form-component>
  </mat-tab>

  <mat-tab label="References">
    <references-form-component></references-form-component>
  </mat-tab>

  <mat-tab label="Done">
    <done-component></done-component>
  </mat-tab>
</mat-tab-group>