<!-- <mat-form-field class="select-profiles">
  <mat-select name="SelectUser" [formControl]="selected" (selectionChange)="profileChanged($event)" placeholder="Select profile">
    <mat-option value="new_profile">
      New profile
    </mat-option>
    <mat-option *ngFor="let profile of allProfiles" [value]="profile">
      {{ profile.firstname }} {{ profile.lastname }}
    </mat-option>
  </mat-select>
</mat-form-field> -->
<div class="menu-background">
    <button class="selected-user-button" mat-button [matMenuTriggerFor]="menu">{{ selected }}</button>
    <mat-menu #menu="matMenu">
      <button (click)="newProfilePressed()" mat-menu-item> New profile </button>
      <button *ngFor="let profile of allProfiles" (click)="userProfilePressed(profile.id)" mat-menu-item> {{ profile.firstname }} {{ profile.lastname }} </button>
    </mat-menu>
</div>
<mat-tab-group>
  <mat-tab label="General">
    <general-form-component></general-form-component>
  </mat-tab>

  <mat-tab label="Education">
    <education-form-component></education-form-component>
  </mat-tab>

  <mat-tab label="Experience">
    <experience-form-component></experience-form-component>
  </mat-tab>

  <mat-tab label="Miscelaneous">
    <misc-form-component></misc-form-component>
  </mat-tab>

  <mat-tab label="References">
    <references-form-component></references-form-component>
  </mat-tab>

  <mat-tab label="Done">
    <done-component></done-component>
  </mat-tab>
</mat-tab-group>