<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Education</mat-card-title>
    <mat-card-subtitle>Educational information about yourself</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <mat-accordion class="expand-element">
      <mat-expansion-panel *ngFor="let e of educations" [expanded]="false" (opened)="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ e.name }}
          </mat-panel-title>
          <mat-panel-description *ngIf="e && e.fromDate && e.toDate">
            {{ e.fromDate }} till {{ e.toDate }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{ e.description }}</p>
        <mat-action-row>
          <button mat-button (click)="remove(e.key)">Ta bort</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <form [formGroup]="educationFormGroup" class="education-form">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>
      <div class="row">
        <mat-form-field class="date-field">
          <input matInput value=" " [matDatepicker]="from_dp" placeholder="From" formControlName="fromDate">
          <mat-datepicker-toggle matSuffix [for]="from_dp"></mat-datepicker-toggle>
          <mat-datepicker #from_dp
          startView="multi-year"
          (yearSelected)="fromYearHandler($event)"
          (monthSelected)="fromMonthHandler($event, from_dp)"
          panelClass="date-picker">
        </mat-datepicker>
      </mat-form-field>
      <mat-form-field class="date-field">
        <input matInput value=" " [matDatepicker]="to_dp" placeholder="To" formControlName="toDate">
        <mat-datepicker-toggle matSuffix [for]="to_dp"></mat-datepicker-toggle>
        <mat-datepicker #to_dp
        startView="multi-year"
        (yearSelected)="toYearHandler($event)"
        (monthSelected)="toMonthHandler($event, to_dp)"
        panelClass="date-picker">
      </mat-datepicker>
    </mat-form-field>
  </div>
  <mat-form-field>
    <textarea matInput placeholder="Description" formControlName="description"></textarea>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="add()">Lägg till</button>
</form>

</mat-card-content>
<!-- <mat-card-actions>
  <button mat-button>LIKE</button>
  <button mat-button>SHARE</button>
</mat-card-actions> -->
</mat-card>