@import '../../var';

::ng-deep education-form-component {

    display: flex;
    justify-content: center;

    .expand-element {
        background: $c-light-blue;
    }

    mat-form-field.date-field {
        min-width: 20%;
    }

    .mat-form-field {
        padding: 15px;
    }

    mat-form-field textarea {
        height: 110px;
    }

    .row {
        display: flex;
        width: 92%;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .date-picker {
        background: black;
    }

    .mat-form-field {
        min-width: 80%;
    }

    .education-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}